* {
  box-sizing: border-box;
}
:root {
  --ap-blue-dark: #1A161F;
  --ap-yellow: #F0C210;
  --ap-purple: #9030EA;
  --ap-cream: #FBF7E7;
  --ap-cyan: #58BFD6;
  --ap-red: #DC171E;
}
body {
  font-family: "Montserrat Alternates";
  font-size: 14px;
  padding: 0px;
  margin: 0px;
  background-color: var(--ap-blue-dark);
  color: #fff;
}
a {
  color: var(--ap-yellow);
}
.container {
  padding-left: 20px;
  padding-right: 20px;
}

.skip-topbar {
  padding-top: 100px;
}

.skip-bottombar {
  padding-bottom: 60px;
}

@media(min-width: 768px) {
  .outer {
    width: 400px;
    margin: auto;
  }
}

.form-group {
  margin-bottom: 15px;
}

select,
input[type="text"] {
  display: block;
  width: 100%;
  height: 45px;
  border-radius: 15px;
  border: 2px solid #eee;
  padding: 10px;
}